In [22]:
list_1= []
for i in range(1,41):
  if(i%2!=0):
    list_1.append(i)
print(list_1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

Write a program to print numbers in a list and prints it is even or odd

In [ ]:
list=[]
for i in range(1,21):
  list.append(i)
print(list)

for i in range(1,21):
  if i%2==0:
    print(i," ,It is an even number ")
  else:
    print(i,", It is a odd number ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
1 , It is a odd number
2  ,It is an even number
3 , It is a odd number
4  ,It is an even number
5 , It is a odd number
6  ,It is an even number
7 , It is a odd number
8  ,It is an even number
9 , It is a odd number
10  ,It is an even number
11 , It is a odd number
12  ,It is an even number
13 , It is a odd number
14  ,It is an even number
15 , It is a odd number
16  ,It is an even number
17 , It is a odd number
18  ,It is an even number
19 , It is a odd number
20  ,It is an even number

Extract letters from string welcome to the  world of python and put them in a list

In [ ]:

str1="welcome to the world of python"
list_1=[i for i in str1]
print(list_1)

['w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 'w', 'o', 'r', 'l', 'd', ' ', 'o', 'f', ' ', 'p', 'y', 't', 'h', 'o', 'n']

Write a program to create a tuple and add values of your choice and print the value using for loop

In [ ]:
mytuple = ('hello', 'how', 'are', 'you')
for i in range(len(mytuple)):
    print(mytuple[i])

hello
how
are
you